h1.header {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: normal;
    font-size: 50px;
    color: white;
    text-align: center;

    }

    p {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }

    p.download-link {
        font-size: 16px;
        color: aquamarine;
    }

    body {
        background-color: black;
        text-align: center;
    }

    video {
        position: relative;
        align-items: center;
        
    }
