.header--main {
    font-weight: normal;
    font-size: 50px;
    color: white;
}

h2 {
    font-weight: 300;
    font-size: 42px;
}

p {
    font-size: 21px;
    color: gray;
    text-align: center;
}

.download-link {
    font-size: 16px;
    color: aquamarine;
}

.footer {
    color: gray;
    text-align: right;
}

body {
    background-color: black;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

video {
    position: relative;
    align-items: center;

}

img {
    position: relative;
    align-items: center;
}